{% extends "admin/base.html" %}
{% load i18n %}

{% block title %} WM 2014 Admin Interface{% endblock %}

{% block branding %}
<h1 id="site-name">WM 2014 Admin Interface 
<br /> 
<br /> 
<input type="button" value="Zur&uuml;ck zur &Uuml;bersicht" onclick="window.location.href = '/'"/></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
