{% extends 'index.html' %}
{% load staticfiles %}

{% block page_title %} Spielplan {% endblock %}
{% block title %} WM 2014 Spielplan {% endblock %}
{% block content %}
    <div class="content finals-content">
        <table>
            <tr> 
                {% for g in groups %}
                    <td class="final-groups final-high" onclick="redir('{% url 'groupDetail' g.letter %}')">
                    <b>Gruppe {{ g.letter }}</b> <br />
                        {% for t in g.teams %}
                            <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ t.nationality.shortcut }}" />
                            {{ t.nationality }} 
                            <br />
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for e in eightFinals %}
                    <td {% if e.goals1 > 0 or e.goals2 > 0 %} class="final-groups final-center final-high" onclick="redir('/wm2014/game/{{ e.number }}');" {% else %} class="final-groups final-center" {% endif %}>
                        {{ e.team1 }} 
                        <br />
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ e.team1.nationality.shortcut }}" />
                        {{ e.goals1|default_if_none:"-" }} : {{ e.goals2|default_if_none:"-" }}
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ e.team2.nationality.shortcut }}" />
                        <br />
                        {{ e.team2 }} 
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for q in quarterFinals %}
                    <td colspan=2 {% if q.goals1 > 0 or q.goals2 > 0 %} class="final-groups final-center final-high" onclick="redir('/wm2014/game/{{ q.number }}');" {% else %} class="final-groups final-center" {% endif %}>
                        {{ q.team1 }} 
                        <br />
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ q.team1.nationality.shortcut }}" />
                        {{ q.goals1|default_if_none:"-" }} : {{ q.goals2|default_if_none:"-" }}
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ q.team2.nationality.shortcut }}" />
                        <br />
                        {{ q.team2 }} 
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for h in halfFinals %}
                    <td></td>
                    <td colspan=2 {% if h.goals1 > 0 or h.goals2 > 0 %} class="final-groups final-center final-high" onclick="redir('/wm2014/game/{{ h.number }}');" {% else %} class="final-groups final-center" {% endif %}>
                        {{ h.team1 }} 
                        <br />
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ h.team1.nationality.shortcut }}" />
                        {{ h.goals1|default_if_none:"-" }} : {{ h.goals2|default_if_none:"-" }}
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ h.team2.nationality.shortcut }}" />
                        <br />
                        {{ h.team2 }} 
                    </td>
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan=2 {% if third.goals1 > 0 or third.goals2 > 0 %} class="final-groups final-center final-high" onclick="redir('/wm2014/game/{{ third.number }}');" {% else %} class="final-groups final-center" {% endif %}>
                    {{ third.team1 }} 
                    <br />
                    <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ third.team1.nationality.shortcut }}" />
                    {{ third.goals1|default_if_none:"-" }} : {{ third.goals2|default_if_none:"-" }}
                    <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ third.team2.nationality.shortcut }}" />
                    <br />
                    {{ third.team2 }} 
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan=2 {% if final.goals1 > 0 or final.goals2 > 0 %} class="final-groups final-center final-high" onclick="redir('/wm2014/game/{{ final.number }}');" {% else %} class="final-groups final-center" {% endif %}>
                    {{ final.team1 }} 
                    <br />
                    <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ final.team1.nationality.shortcut }}" />
                    {{ final.goals1|default_if_none:"-" }} : {{ final.goals2|default_if_none:"-" }}
                    <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ final.team2.nationality.shortcut }}" />
                    <br />
                    {{ final.team2 }} 
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    <div>
{% endblock %}
