{% extends 'index.html' %}
{% load staticfiles %}

{% block page_title %} Spielansicht {% endblock %}
{% block title %} WM 2014 Spielansicht des Spiels {{ number }} {% endblock %}
{% block content %}
    <div class="content">
        <b> Spiel {{ game }} im Stadium {{ game.stadium }} </b>
        <br /> <br />
        
        <div class="groups">
            <table class="table-groups">
                <tr class="table-desc">
                    <td class="game-minute">Minute</td>
                    <td class="game-player">Spieler</td>
                    <td class="game-team">Team</td>
                </tr>
                {% for g in goals %}
                    <tr>
                        <td>{{ g.minute }}</td> 
                        <td>{{ g.player }}</td>
                        <td><img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ g.team.nationality.shortcut }}" /> {{ g.team }}</td>
                    </tr>
                {% endfor %}
           </table>
        </div>
        <br />
        <br />
    <div>
{% endblock %}
