{% extends 'index.html' %}
{% load staticfiles %}

{% block page_title %} Gruppen {% endblock %}
{% block title %} WM 2014 Gruppen {% endblock %}
{% block content %}
    <div class="content">
        <div class="legend">
            <b>Legende:</b>
            <table class="table-legend">
                <tr>
                    <td>GS:</td>
                    <td>Gespielt</td>
                </tr>
                <tr>
                    <td>S:</td>
                    <td>Sieg</td>
                </tr>
                <tr>
                    <td>U:</td>
                    <td>Unentschieden</td>
                </tr>
                <tr>
                    <td>N:</td>
                    <td>Niederlage</td>
                </tr>
                <tr>
                    <td>T:</td>
                    <td>Tore</td>
                </tr>
                <tr>
                    <td>GT:</td>
                    <td>Gegentore</td>
                </tr>
                <tr>
                    <td>P:</td>
                    <td>Punkte</td>
                </tr>
            </table>
        </div> 
        {% for g in groups %}
            <div class="groups">
                <b>Gruppe {{ g.letter }}</b> - <a href="{% url 'groupDetail' g.letter %}">Detailansicht</a>
                <br />
                <br />
                <table class="table-groups">
                    <tr class="table-desc">
                        <td class="team">Team</td>
                        <td class="continent">Kontinent</td>
                        <td>Flagge</td>
                        <td alt="Gespielt">GS</td>
                        <td alt="Sieg">S</td>
                        <td alt="Unentschieden">U</td>
                        <td alt="Niederlage">N</td>
                        <td alt="Tore">T</td>
                        <td alt="Gegentore">GT</td>
                        <td alt="Punkte">P</td>
                    </tr>
                    {% for t in g.teams %}
                        <tr>
                            <td>{{ t.nationality }}</td>
                            <td>{{ t.nationality.continent }}</td> 
                            <td class="table-flag"><img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ t.nationality.shortcut }}" /></td>
                            <td>{{ t.played }}</td>
                            <td>{{ t.win }}</td>
                            <td>{{ t.draw }}</td>
                            <td>{{ t.loss }}</td>
                            <td>{{ t.goals }}</td>
                            <td>{{ t.agoals }}</td>
                            <td>{{ t.points }}</td>
                        </tr>
                    {% endfor %}
               </table>
            </div>
            <br />
            <br />
        {% endfor %}
    <div>
{% endblock %}
