{% extends 'index.html' %}
{% load staticfiles %}

{% block page_title %} Gruppenansicht {% endblock %}
{% block title %} WM 2014 Spielansicht der Gruppe {{ letter }} {% endblock %}
{% block content %}
    <div class="content">
        <div class="groups">
            <table class="table-groups">
                <tr class="table-desc">
                    <td class="g-number">Spiel</td>
                    <td class="g-date-date">Datum</td>
                    <td class="g-date-time">Uhrzeit</td>
                    <td class="g-stadium">Spielort </td>
                    <td>Ergebnis</td>
                </tr>
                {% for g in games %}
                    <tr class="game-tr" onclick="redir('{% url 'game' g.number %}');">
                        <td>{{ g.number }}</td>
                        <td>{{ g.date|date }}</td> 
                        <td>{{ g.date|time }}</td>
                        <td>{{ g.stadium }}</td>
                        <td>
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ g.team1.nationality.shortcut }}" />
                        {{ g.team1 }}
                        {{ g.goals1 }}
                        -
                        {{ g.goals2 }}
                        {{ g.team2 }}
                        <img src="{% static "wm2014/blank.png" %}" class="flag flag-{{ g.team2.nationality.shortcut }}" />
                    </tr>
                {% endfor %}
           </table>
        </div>
        <br />
        <br />
    <div>
{% endblock %}
