{% block main %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title> WM 2014 {% block page_title %} {% endblock %}</title>
	    {% block styles %}
            <link rel="stylesheet" type="text/css" href="{% static "wm2014/flags.css" %}">            
            <link rel="stylesheet" type="text/css" href="{% static "wm2014/wm2014.css" %}">            
        {% endblock %}
    </head> 
    <body>
        <div class="main-frame">
            <div class="top-block">
                <h1>{% block title %} WM 2014 {% endblock %}</h1>
                <input type="button" value="Admin Interface" onclick="redir('/admin')" />
                <input type="button" value="Gruppenansicht" onclick="redir('{% url 'group' %}')" />
                <input type="button" value="Spielplan" onclick="redir('{% url 'finals' %}')" />
            </div>
            <div class="main-content">
                {% block content %}
                    <img alt="Zum Spielplan" class="main-pic" onclick="redir('{% url 'finals' %}')" src="{% static "wm2014/wm_main.png" %}" />
                    <p class="main-p"> von Sascha Wittkowski &amp; Deniz Gr&uuml;nberger </p>
                {% endblock %}
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function redir(url) {
            window.location.href = url;
        }
    </script>
</html>
{% endblock %}
