html {
    font-family: serif;
    font-size: 11pt;
}

body {
    margin: 0 auto;
}

.final-high:hover {
    background-color: #FFFF33;
    cursor: pointer; 
}

.final-center {
    height: 65px !important;
    text-align: center;
    vertical-align: center;
}

.main-pic {
    padding: 10px;
    padding-left: 20px;
    cursor: pointer; 
}

.main-p {
    padding-left: 20px;
    font-weight: bold;
}

.final-groups {
    width: 180px;
    height: 100px;
    white-space:nowrap;
    border: 1px solid #000000;
}

.game-tr:hover {
    background-color: #FFFF33;
    cursor: pointer; 
}

div.groups {
    width: 300px;
}

div.content {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.game-team {
    width: 220px;
}

.game-player {
    width: 200px;
}

.game-minute {
    width: 50px;
}

.g-number {
    width: 35px;
}

.g-date-date {
    width: 120px;
}

.g-date-time {
    width: 100px;
}

.g-stadium {
    width: 250px;
}

.table-groups {
    table-layout:fixed;
    width:900px;
}

td.team {
    width: 180px;
}

td.continent {
    width: 120px;
}

.table-groups td {
    border-bottom: solid 1px #000000;
    padding:5px;
    white-space:nowrap;
    overflow: hidden;
}

.h1-title {
    padding-left: 5px;
}

div.legend {
   top: 0; 
   right: 0;
   margin: 10px;
   position: fixed;
   background-color: #FFFFFF;
   padding: 1px;
}

.top-block {
    width: 100%;
    height: 110px;
    background-color: #3B5998;
    color: #FFFFFF;
    position: absolute;
    padding: 5px;
}

.main-content {
    padding-top: 150px;
}

.table-legend {
    border: solid 1px;
}

.table-fix {
    table-layout: fixed;
    width: 1250px;
}

.table-desc {
    background-color: #E0E0E0;
    color: #707070;
    font-weight: bold;
}

.table-flag {
    text-align: center;
    vertical-align: center;
}
